
html {
	padding-top: 1px;
}

body {
	margin: 0px;
	overflow: hidden;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0px;
}

/*.elfinder-toolbar {
	border:0px;
}

.ui-widget-content {
	border:0px;
}*/

.elfinder-cwd {
	font-size:10px !important;
}
