	 	
	/* -----------------------------------------
			
		common styles

	----------------------------------------- */
		
	@import url(reset.css);
	@import url(frequent.css);


	/* basic styles
	 ---------------------------------------- */
	html { height: 100%; }
	body { 
		height: 100%;
		font: 13px/1 Arial, Helvetica, sans-serif; 
		background: #fff; 
		color: #3f3f3f;
		min-width: 960px;
	} 
	a { color: #409000; }
	a:hover { text-decoration: none; }
	input, textarea, select { font: 13px Arial, Helvetica, sans-serif; outline: none; }
	p { margin-bottom: 20px; line-height: 1.3; }
	h1, h2 { font-size: 20px; margin-bottom: 20px; }

	p.tip { color: #7d7d7d; font-size: 11px; }
	p.tip.dark { color: #4e4e4e; }

	#pageid-main p  { margin-left: 20px; }
	#pageid-main h1, #pageid-main h2 { margin-left: 20px; }
	#pageid-catalog h1 { border-bottom: 2px solid #ccc; overflow: hidden; zoom: 1; padding-bottom: 10px; margin-bottom: 10px; }

	.site_width { margin: 0 auto; width: 940px; }
	.banner { margin-top: 25px; }
	.include_right { float: right; margin: 10px 0 10px 10px; }
	.include_left { float: left; margin: 10px 10px 10px 0; }

	/* основное меню */
	#top_line {
		background: #efefef url(../images/sprite_hor_bgs.png) repeat-x;
		height: 36px; 
		border-bottom: 1px solid #c1c1c1; font-size: 12px; 
		position: relative;
		z-index: 10;
	}
	#top_line .delimiter { width: 0px !important; border-right: 1px solid #fff; border-left: 1px solid #d2d2d2; height: 20px; margin: 8px 13px 0 0; }
	#top_line a { color: #6d6d6d; } 


	#main_menu { float: left; }
	#main_menu li { float: left; margin-right: 13px; }
	#main_menu a { margin-top: 11px; display: block; }
	#main_menu .email { padding: 5px 0 5px 30px; background: url(../images/sprite_icons.png) no-repeat 0px -196px; margin-top: 7px; color: #219bc8; }
	#main_menu .icq { padding: 5px 0 5px 25px; background: url(../images/sprite_icons.png) no-repeat 0px -172px; margin-top: 7px; }
	#main_menu .skype { padding: 5px 0 5px 30px; background: url(../images/sprite_icons.png) no-repeat 0px -222px; margin-top: 7px; }
	

	#auth { float: right; width: 319px; padding-left: 10px; position: relative; }
	#auth li { float: left; margin-right: 20px; } 
	#auth a.item { margin-top: 11px; display: block; } 
	
	#auth .delimiter.small { height: 14px; margin-top: 12px; margin-right: 20px; }
	#auth .delimiter.right { position: absolute; top: 8px; right: 90px; margin: 0; }
	#auth .delimiter.left { position: absolute; top: 8px; left: 0px; margin: 0; }
	#auth .social { position: absolute; top: 10px; right: 0px; margin: 0; } 
	#auth li.enter { width: 65px; overflow: hidden; zoom: 1; }
	#auth li.enter a, #auth li.name a {
		padding: 5px 0 5px 30px;
		background: url(../images/sprite_icons.png) no-repeat 0px -77px;
		margin-top: 7px; 
		color: #c33c00; 

	}
	#auth li.name { width: 125px; }
	#auth li.name a { 
		background: url(../images/sprite_icons.png) no-repeat 0px -840px;
		overflow: hidden;
		zoom: 1; 
		white-space: nowrap; 
		text-overflow: ellipsis;
	}
	
	#auth .social a { display: inline-block; width: 16px; height: 16px; margin: 0 0 0 10px; } 
	#auth .social a.vk { background: #c1c1c1 url(../images/sprite_icons.png) no-repeat 0px 0; margin-left: 0; }
	#auth .social a.fb { background: #c1c1c1 url(../images/sprite_icons.png) no-repeat 0px -26px; }
	#auth .social a.tw { background: #c1c1c1 url(../images/sprite_icons.png) no-repeat 0px -51px; }	

	#auth .social a.vk:hover { background:url(../images/sprite_icons.png) no-repeat 0px -1927px;}
	#auth .social a.fb:hover { background:url(../images/sprite_icons.png) no-repeat 0px -1953px; }
	#auth .social a.tw:hover { background:url(../images/sprite_icons.png) no-repeat 0px -1978px; }	
	
	/* лого, поиск, корзина, меню юзера */
	#next_line  { position: relative; height: 110px; }
	#logo { position: absolute; width: 207px; height: 75px; top: 13px; left: 0px; font-style: italic; font-size: 24px; }


	#user_menu { 
		position: absolute;
		top: -5px; right: -11px;
		height: 30px; 
		width: 318px;
		background: #efefef url(../images/sprite_hor_bgs.png) repeat-x 0 4px; 
		border: 1px solid #c1c1c1;
		border-radius: 4px;
		padding: 10px 10px 0 10px;
		font-size: 12px; 
	}
	#user_menu li { float: left; width: 106px; overflow: hidden; zoom: 1; white-space: nowrap; } 
	#user_menu a { display: block; padding: 6px 0 6px 27px; color: #6d6d6d; text-decoration: none; } 
	#user_menu a:hover { color: #c33c00; }
	#user_menu a.points { background: url(../images/sprite_icons.png) no-repeat 0px -109px; }
	#user_menu a.orders { background: url(../images/sprite_icons.png) no-repeat 0px -248px; }
	#user_menu a.cart { background: url(../images/sprite_icons.png) no-repeat 0px -141px; text-align: right; }	

	
	#search { position: absolute; top: 10px; right: 350px; }
	#search .text {
		float: left;
		width: 190px;  
		padding: 1px 5px; 
		color: #6d6d6d; 
		border: 1px solid #6d6d6d; 
		border-radius: 7px; 
	}	
	#search .button { 
		cursor: pointer;
		float: left;
		width: 16px; 
		height: 16px; 
		margin: 2px 0 0 7px; 
		background: url(../images/sprite_icons.png) no-repeat 0px -277px; 
		border: none; 
	}


	#cart { position: absolute; top: 36px; right: 0px; } 
	#cart .details { padding: 8px 0; }
	#cart span { color: #c33c00; }
	#cart a { 
		display: block; 
		text-align: center; 
		font-size: 14px;
		color: #fff; 
		background: #8ec403 url(../images/sprite_hor_bgs.png) repeat-x 0px -37px;
		*background-position: 0px -36px; /* ie 6,7 fix*/
		padding: 5px 10px; 
		border: 1px solid #709931;
		border-radius: 3px; 
		text-decoration: none;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}

	#bread_crumbs { position: absolute; top: 80px; left: 240px; color: #6d6d6d; font-size: 11px; }
	#bread_crumbs a { color: #6d6d6d; }
	#bread_crumbs li { float: left; margin-right: 5px; }


	/* футер, обертка */
	#wrapper { min-height: 100%; _height: 100%; margin-bottom: -140px; }
	#buffer { height: 170px; }


	#footer { 
		background: #efefef url(../images/sprite_hor_bgs.png) repeat-x 0px -61px; 
		height: 130px; 
		border-top: 4px solid #ededed; 
		border-bottom: 6px solid #6d6d6d; 
	}
	#footer .logo { float: left; margin-top: 9px; color: #6d6d6d; font-size: 11px; text-decoration: none; }
	#footer .logo img { width: 207px; height: 75px; font-style: italic; font-size: 24px; }
	#footer .logo address { padding: 15px 0 0 4px; }

	#footer .menu { margin-left: 290px; width: 500px; text-align: center; font-size: 12px; }
	#footer .menu li { padding-top: 25px; }
	#footer .menu a { color: #222222; margin-right: 12px; }
	#footer .menu span { color: #6d6d6d; margin-right: 12px; }
	#footer .menu li.social a { display: inline-block; padding: 5px 0 0 22px}
	#footer .menu a.fb { background: url(../images/sprite_icons.png) no-repeat 0px -311px;  }
	#footer .menu a.lj { background: url(../images/sprite_icons.png) no-repeat 0px -344px;  } 
	#footer .menu a.tw { background: url(../images/sprite_icons.png) no-repeat 0px -376px;  }
	#footer .menu a.vk { background: url(../images/sprite_icons.png) no-repeat 0px -403px;  }

	/* content styles
	 ---------------------------------------- */
	#content { float: right; width: 700px; }
	#sidebar { float: left; width: 220px; }

	/* карусели на главной */
	.carousel { height: 210px; }
	.carousel .roll { width: 20px; height: 30px; float: left; margin-top: 100px; cursor: pointer;  }
	.carousel .roll.left { background: #68ce00 url(../images/sprite_icons.png) no-repeat 0px -427px; }
	.carousel .roll.left.disabled { background: #efefef url(../images/sprite_icons.png) no-repeat 0px -660px; cursor: default; } 
	.carousel .roll.right { background: #68ce00 url(../images/sprite_icons.png) no-repeat 0px -459px; }
	.carousel .roll.right.disabled { background: #efefef url(../images/sprite_icons.png) no-repeat 0px -692px; cursor: default; } 
	.carousel .cut_box { float: left; width: 660px; height: 210px; overflow: hidden; position: relative; }
	.carousel ul { width: 6000px; }
	.carousel li { float: left; width: 140px; height: 210px; padding-right: 32px; background: url(../images/carousel_delimiter.jpg) no-repeat 153px 50%; }
	.carousel li.last { background: none; } 
	.carousel .good_box { height: 100%; position: relative; text-align: center; }
	.carousel .good_box a.image { position: absolute; width: 100%; height: 150px; top: 30px; left: 0px; overflow: hidden; }
	.carousel .title { 
		position: absolute; 
		top: 0; 
		left: 0; 
		background: #fff; 
		line-height: 1.3; 
		font-size: 14px; 
		text-align: center;
		width: 140px;
	}
	.carousel .price {
		color: #c33c00; 
		font-size: 20px; 
		position: absolute; 
		bottom: 0; 
		right: 0; 
		padding-right: 17px; 
		background: url(../images/sprite_icons.png) no-repeat 100% -495px;
	}
	.carousel .tgk { font-style: italic; color: #6d6d6d; font-size: 14px; position: absolute; bottom: 0; left: 0;  }

	.fence_delimiter { 
		height: 33px; 
		background: #fbfbfb url(../images/sprite_hor_bgs.png) repeat-x 0px -192px; 
		margin: 0px 0px 20px 0; 
		border-top:20px solid #fff;
		position: relative;
	} 
	.fence_delimiter.nomargin { margin-bottom: 0px; }
	.fence_delimiter .left {
		width: 95px; 
		height: 33px; 
		position: absolute; 
		top: 0px; 
		left: 0px; 
		background: url(../images/fence_ends.jpg) no-repeat 0px 0px;
	}
	.fence_delimiter .right {
		width: 95px; 
		height: 33px; 
		position: absolute; 
		top: 0px; 
		right: 0px; 
		background: url(../images/fence_ends.jpg) no-repeat -95px 0px;
	}

	/* боковое меню */
	#sidebar_menu { border: 1px solid #cdcdcd; border-radius: 5px; position: relative; }
	#sidebar_menu .button { color: #3f3f3f; text-decoration: none; }
	#sidebar_menu .header, #sidebar_menu .button {
		display: block;
		width: 183px; /* ie 6,7 fix */
		cursor: pointer;
		font-size: 14px; 
		padding: 9px 15px 8px 20px; 
		border-bottom: 2px solid #aaaaaa; 
		background: #efefef url(../images/sprite_hor_bgs.png) repeat-x 0px -225px;
		outline: none;
	} 

	#sidebar_menu .header.last { border-bottom: none; }
	#sidebar_menu .button div { background: url(../images/sprite_icons.png) no-repeat 170px -529px; }
	#sidebar_menu .header div  { background: url(../images/sprite_icons.png) no-repeat 170px -553px; }
	#sidebar_menu .header.opened div { background: url(../images/sprite_icons.png) no-repeat 170px -1914px; } 
	#sidebar_menu .body { display: none; }
	#sidebar_menu .ui-accordion-content-active { display: block; }
	#sidebar_menu .body.last { border-top: 2px solid #aaaaaa; }

	#sidebar_menu .scope { border-bottom: 1px solid #cdcdcd; }
	#sidebar_menu .scope.last { border-bottom: none; }
	#sidebar_menu .scope ul { padding: 10px 15px 5px 20px; display: none; width: 183px; position: relative; /* ie 6,7 fix */ }
	#sidebar_menu .scope.opened ul { display: block; }
	#sidebar_menu .scope li { margin-bottom: 10px; }

	#sidebar_menu .title {
		width: 218px; position: relative; /* ie 6,7 fix */
		cursor: pointer;
		font-size: 14px; 
		color: #c33c00; 
	}

	#sidebar_menu .title div a, #sidebar_menu .title div span {
        display: block;
		padding: 8px 0px 8px 20px; 
    }

    #sidebar_menu .title div a span {
        display: inline;
        padding: 0px;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0px;
    }


	#sidebar_menu .title div { background: url(../images/sprite_icons.png) no-repeat 170px -597px; }
	#sidebar_menu .scope.opened .title div { background: url(../images/sprite_icons.png) no-repeat 170px -574px; }
	#sidebar_menu .title a span, #sidebar_menu .title span em { border-bottom: 1px dashed #c33c00; }
	#sidebar_menu .scope.over .title { background: #be3b02 url(../images/sprite_hor_bgs.png) repeat-x 0px -256px; color: #fff; }
	#sidebar_menu .scope.over .title div { background: url(../images/sprite_icons.png) no-repeat 170px -640px; }
	#sidebar_menu .scope.opened.over .title div { background: url(../images/sprite_icons.png) no-repeat 170px -620px; }
	#sidebar_menu .scope.over .title a span, #sidebar_menu .scope.over .title span em { border-bottom: 1px dashed #fff; } 
	#sidebar_menu .scope.over ul { background: #f4edd9 url(../images/menu_scope_bg.jpg); } 

    /* правки */
	#sidebar_menu .scope.opened .title div { background: none; }
	#sidebar_menu .scope.opened .title div span { background: url("../images/sprite_icons.png") no-repeat scroll 190px -564px transparent; }

	#sidebar_menu .scope.over .title div { background: none; }
	#sidebar_menu .scope.opened.over .title div { background: none; }
    #sidebar_menu .title div {background: none;}

	#sidebar_menu .scope.over .title div span { background: url(../images/sprite_icons.png) no-repeat 190px -630px; }
	#sidebar_menu .scope.opened.over .title div span {background: url(../images/sprite_icons.png) no-repeat 190px -610px; }
	#sidebar_menu .title div span { background: url(../images/sprite_icons.png) no-repeat 190px -587px; }

    #sidebar_menu .header div {line-height: 14px; height: 14px; margin: 0px 0px 4px 0px;}

    #sidebar_menu .title span em {font-style: normal;}
    /* ***** */

	#sidebar_menu .catalog-menu .title div {background:none;}
	#sidebar_menu .catalog-menu .scope.opened .title div { background:none;}
	
	#sidebar_menu .catalog-menu .scope.over .title div {background:none;}
	#sidebar_menu .catalog-menu .scope.over a {background:none;color:#fff;}
	#sidebar_menu .catalog-menu a {color:#C33C00;text-decoration:none;}
	#sidebar_menu .catalog-menu .scope {background:#F4EDD9 }
	#sidebar_menu .catalog-menu .active-scope span{color:#fff;border-bottom:none; }
	#sidebar_menu .catalog-menu .active-scope .title {background:#BE3B02 url(../images/sprite_hor_bgs.png) repeat-x 0px -256px;cursor:default;}
	#sidebar_menu .catalog-menu .active-scope.over span{border-bottom:0px;}

	#sidebar_menu .counter {
		width: 137px; 
		height: 35px; 
		text-align: center;
		position: absolute; 
		top: 375px; 
		left: 200px; 
		text-decoration:underline!important;
		background: url(../images/menu_counter.png) no-repeat; 
		display: none;
		color: #403004;
		font-style: italic;
		text-decoration: none;
		font-weight: bold;
		text-shadow: #f7f3e7 1px 1px 0px;
		padding-top: 8px;
	}
	#sidebar_menu .counter:hover {
		text-decoration:none!important;
	} 

	#sidebar_menu .more_less {
		display: inline-block; 
		border: 1px solid #c3bcb3;
		border-radius: 3px;
		padding: 4px; 
		*padding: 2px 4px; *margin-right: 4px; /* ie 6,7 fix */
		background: #fff;
		width: 45px;
		position: relative;
	}
	#sidebar_menu .more_less input { width: 37px; border: none; background: none; font-size: 12px; color: #6d6d6d;  }
	#sidebar_menu .more, #sidebar_menu .less {
		position: absolute; 
		width: 12px; 
		height: 11px; 
		right: 0px; 
		display: inline-block; 
		cursor: pointer;
		font-size: 0px;
	}
	#sidebar_menu .more { top: 0px; background: #f0f0f0 url(../images/sprite_icons.png) no-repeat 0px -731px; }
	#sidebar_menu .less { top: 12px; background: #f0f0f0 url(../images/sprite_icons.png) no-repeat 0px -742px; }

	#sidebar_menu .clickable { cursor: pointer; }
	#sidebar_menu .take_part { 
		color: #44352B; 
		border-radius: 3px; 
		padding: 1px 20px 1px 5px; 
		background: #EBD79D url(../images/sprite_icons.png) no-repeat 100% -1702px;
	}
	
	/* каталог продукции */
	#producers li { margin-bottom: 20px; overflow: hidden; zoom: 1; }
	#producers h2 { margin: 0 0 10px 185px; padding: 0 0 6px 15px; background: url(../images/catalog_underline.jpg) no-repeat 0px 100%; }
	#producers h2 a { text-decoration: none; color: #3f3f3f; }
	#producers .desc { margin-left: 200px; line-height: 1.3; }
	#producers .image { float: left; }


	/* карточка товара */
	#view_good .about { float: right; width: 300px; color: #6d6d6d; }
	#view_good .about h1 { margin-bottom: 15px; }

	#view_good .to_cart { height: 90px; position: relative; background: url(../images/catalog_underline.jpg) no-repeat 50% 100%; }
	#view_good .to_cart .add { 
		position: absolute; 
		bottom: 10px; 
		left: 0px; 
		width: 115px; 
		height: 24px; 
		line-height: 24px; 
		text-align: center;
		text-decoration: none;
		color: #fff;
		background: #8ec403 url(../images/sprite_hor_bgs.png) repeat-x 0px -37px;
		border: 1px solid #709931; 
		border-radius: 3px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}
	#view_good .to_cart .add img { margin-top: 3px; }
    #view_good .to_cart label.package_type { margin: 0px 0px 4px 0px; float: left;}
    #view_good .to_cart label.package_amount { margin: 0px 0px 4px 0px; float: right;}
	#view_good .to_cart .points { position: absolute; bottom: 45px; right: 0px; font-size: 12px; }
	#view_good .to_cart .points span { color: #71b502; font-size: 14px; }
	#view_good .to_cart .price {position: absolute; bottom: 10px; right: 0px; font-size: 14px; }
	#view_good .to_cart .price em { display: block; float: left; width: 80px; font-style: normal; text-align: right;}
	#view_good .to_cart .price small { font-size: 10px; }
	#view_good .to_cart .price span { font-size: 24px; color: #c33c00; margin: 0 10px; }
	#view_good .to_cart .count, #view_good .to_cart .type { 
		border: 1px solid #6d6d6d; 
		border-radius: 2px; 
		color: #6d6d6d; 
		padding-left: 5px; 
		height: 20px; 
	}
	#view_good .to_cart .count { width: 45px; float: right; }
	#view_good .to_cart .type { width: 240px; float: left; }

	#view_good .icons { margin: 20px 0 0 35px; }
	#view_good .icons li { margin-bottom: 18px; position: relative; }
	#view_good .icons li img { position: absolute; top: -6px; right: 275px; }

	#view_good .photos { float: left; position: relative; width: 360px; height: 520px; background: url(../images/view_delimiter.jpg) no-repeat 100% 50%;  }
	/*#view_good .photos .zoom { 
		position: absolute; 
		width: 24px; 
		height: 24px; 
		line-height: 24px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;
		top: -2px; 
		left: 15px; 
		background: #efefef url(../images/sprite_icons.png) no-repeat 0px -761px; 
		border: 2px solid #fff;
		border-bottom-right-radius: 3px;
	}*/
	#view_good .photos .zoom.loading { display: none; }
	#view_good .photos .image { width: 315px; height: 360px; margin-left: 17px; overflow: hidden; zoom: 1; }
	#view_good .photos .image.loading { background: url(../images/photos_preloader.gif) no-repeat 50% 50%; }
	#view_good .photos .image img { width: 315px; }

	#photos_carousel { position: absolute; height: 113px; bottom: 25px; left: 0px; }
	#photos_carousel .roll { float: left; width: 17px; height: 19px; margin-top: 50px; cursor: pointer; }
	#photos_carousel .roll.right { background: #68CE00 url(../images/sprite_icons.png) no-repeat 0px -1673px; }
	#photos_carousel .roll.right.disabled { background: #efefef url(../images/sprite_icons.png) no-repeat 0px -816px; cursor: default; }
	#photos_carousel .roll.left { background: #68CE00 url(../images/sprite_icons.png) no-repeat 0px -1652px; } 
	#photos_carousel .roll.left.disabled { background: #efefef url(../images/sprite_icons.png) no-repeat 0px -795px; cursor: default; } 

	#photos_carousel .cut_box { float: left; width: 315px; height: 113px; overflow: hidden; zoom: 1; }
	#photos_carousel ul { width: 3000px; }
	#photos_carousel li { 
		float: left; 
		border: 1px solid #6d6d6d; 
		border-radius: 3px; 
		background: #efefef; 
		width: 97px; 
		height: 111px; 
		margin-right: 9px; 
		overflow: hidden;
		zoom: 1;
	}
	#photos_carousel li img { cursor: pointer; width: 97px; }
	

	/* пагинация */
	#find_count { font-size: 11px; color: #7d7d7d; padding: 10px 0; margin-top: -25px; }
	.page_nav { height: 30px; background: #efefef url(../images/sprite_hor_bgs.png) repeat-x 0px -286px;
		border: 1px solid #f0efed; border-radius: 2px; box-shadow: 0 1px 3px #cbcbcb; color: #515151; 
		padding: 0 12px; margin: 30px 0; 
	}
	.page_nav.no_content_above { margin-top: 0px; }
	.page_nav.no_margin { margin: 0; }

	.page_nav a { color: #515151; }
	.page_nav select { height: 23px; padding-left: 5px; color: #515151; }
 
	.page_nav li.text { line-height: 30px; }

	.page_nav li.nums { padding: 6px 12px 0 12px; } 
	.page_nav.search li.nums { padding: 6px 0 0 0; }
	.page_nav li.nums a { display: inline-block; height: 16px; padding: 0 4px; line-height: 16px; 
		text-align: center; background: #fcfcfc url(../images/sprite_hor_bgs.png) no-repeat 1px -317px; 
		text-decoration: none; border: 1px solid #8b8b8b; border-radius: 2px; margin: 0 4px; 
	}
	.page_nav li.nums a.active { background: #989898 url(../images/sprite_hor_bgs.png) no-repeat 1px -337px; color: #fff; }
	.page_nav li.nums a:active { border: 1px solid #515151; } /*с псевдоклассом*/

	.page_nav li.nums a.step { width: 16px; padding: 0px; border: 0px; margin: 0px; }
	.page_nav li.nums a.step.next { background: url(../images/sprite_icons.png) no-repeat 3px -1610px; }
	.page_nav li.nums a.step.next.disabled { background: url(../images/sprite_icons.png) no-repeat -13px -1610px; }
	.page_nav li.nums a.step.last { background: url(../images/sprite_icons.png) no-repeat 0px -1590px; }
	.page_nav li.nums a.step.last.disabled { background: url(../images/sprite_icons.png) no-repeat -18px -1590px; }
	.page_nav li.nums a.step.prev { background: url(../images/sprite_icons.png) no-repeat 3px -1629px; }
	.page_nav li.nums a.step.prev.disabled { background: url(../images/sprite_icons.png) no-repeat -14px -1629px; }
	.page_nav li.nums a.step.first { background: url(../images/sprite_icons.png) no-repeat 0px -1570px; }
	.page_nav li.nums a.step.first.disabled { background: url(../images/sprite_icons.png) no-repeat -18px -1570px; }

	.page_nav li.order_select { margin-left: 12px; padding-top: 4px; }
	.page_nav li.order_select select { width: 170px; }

	.page_nav li.order_a a { margin-left: 5px; text-decoration: none; text-transform: lowercase; }
	.page_nav li.order_a a.desc, .page_nav li.order_a a.asc { color: #409000; padding-left: 15px; }
	.page_nav li.order_a a.desc { background: url(../images/sprite_icons.png) no-repeat 0px -1548px; }
	.page_nav li.order_a a.asc { background: url(../images/sprite_icons.png) no-repeat 0px -1534px; }
	.page_nav li.order_a span { color: #D1D0CE; margin-left: 5px; } 
	.page_nav li.order_a span.sort_word { margin: 0 5px 0 0; color: #3F3F3F; } 

	.page_nav li.delimiter { margin: 5px 15px 0 15px; width: 0px; height: 20px; 
		border-right: 1px solid #fff; border-left: 1px solid #d1d0ce;
	}

	.page_nav li.per_page { margin: 4px 0 0 7px; }
	.page_nav li.per_page select { width: 50px; }

	/* каталог продукции */
	.catalog .item {
		float: left;
		width: 186px;
		height: 460px; 
		background: url(../images/catalog_delimiter.jpg) no-repeat 100% 50%;
		position: relative;
		margin-right: 35px;
		padding-right: 35px;
		text-align: center;
	}
	.catalog .item.last { margin-right: 0px; padding-right: 0px; background: none; }
	.catalog .item .title { position: absolute; top: 0px; left: -10px; width: 200px; text-align: center; }
	.catalog .item .title a { font-size: 14px; line-height: 1.3; background: #fff; }
	.catalog .item .image { margin-top: 40px; }
	.catalog .item .tgk { position: absolute; bottom: 170px; left: 0px; font-style: italic; color: #6d6d6d; font-size: 14px; }
	.catalog .item .price { 
		position: absolute; 
		bottom: 170px; 
		right: 35px; 
		font-size: 20px; 
		color: #c33c00; 
		padding-right: 17px; 
		background: url(../images/sprite_icons.png) no-repeat 100% -495px;
	}
	.catalog .item.last .price { right: 0px;  }
	.catalog .item.first .title { left: 0px; }
	.catalog .item .icons { position: absolute; width: 151px; top: 310px; left: 0px; color: #6d6d6d; margin-left: 35px; text-align: left; }
	.catalog .item .icons li { margin-bottom: 18px; position: relative; }
 	.catalog .item .icons li img { position: absolute; top: -6px; right: 160px; }

 	/* всплывающее окошко */
 	#pop-up_bg { 
	 	width: 100%; 
	 	height: 100%; 
	 	position: fixed;
	 	_position: absolute; 
	 	top: 0px; left: 0px;
	 	z-index: 999; 
	 	background: #4c4c4c;
	 	background: rgba(0,0,0,0.7);
	}

	#pop-up {
		background: #fff url(../images/pop_up_bg.png) repeat-x 0% 100%;
		border-top: 1px solid #b7b7b7;
		border-right: 1px solid #616161;
		border-left: 1px solid #616161;
		height: 310px;
		width: 630px;
		padding: 25px;
		border-radius: 5px;
		position: fixed;
		_position: absolute; 
	 	top: 50%; left: 50%;
	 	margin-left: -340px;
	 	margin-top: -180px;
	 	z-index: 9999;
	}
	#pop-up .header { 
		color: #c33c00; 
		background: url(../images/sprite_icons.png) no-repeat 0px -840px; 
		padding: 4px 0 3px 30px;
		margin-bottom: 3px; 
		font-size: 18px; 
	}
	#pop-up .body { height: 285px; background: url(../images/order_delimiter.jpg) no-repeat 50% 50%;  }
	#pop-up .close { 
		position: absolute; 
		right: -9px; top: -6px; 
		width: 25px;
		height: 26px; 
		background: url(../images/pop_up_close.png) no-repeat; cursor: pointer; 
	}

	#pop-up .client { width: 290px; height: 100%; position: relative; }
	#pop-up .client .footer { height: 95px; width: 100%; position: absolute; left: 0px; top: 190px; }
	#pop-up .client .title { font-size: 16px; color: #000; padding: 20px 0 6px 0; border-bottom: 1px solid #a5a5a5; margin-bottom: 15px; }

	#pop-up .field_box { margin-bottom: 15px; }
	#pop-up .footer .field_box { margin-bottom: 25px; }
	#pop-up .field_name { color: #6d6d6d;  margin-bottom: 6px; position: relative; }
	#pop-up	.field_name a { position: absolute; right: 0px; bottom: 0px; _top: 2px; color: #6d6d6d; }
	#pop-up .tip { font-size: 11px; color: #6d6d6d; }
	#pop-up .fr .tip { margin-bottom: 10px; line-height: 1.3; }
	#pop-up .fr .tip.last { margin-top: 10px; }
	#pop-up input.text { 
		width: 278px; 
		padding: 3px 5px; 
		border: 1px solid #6d6d6d; 
		background: #efefef; 
		border-left: 1px solid #3f3f3f; 
		border-right: 1px solid #3f3f3f;
	}
	#pop-up .button { 
		float: right;
		height: 24px; 
		line-height: 24px;  
		background: #8ec403 url(../images/sprite_hor_bgs.png) repeat-x 0px -37px;
		border: 1px solid #709931;
		padding: 0 20px;
		text-decoration: none;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		font-size: 14px;
	}

	#pop-up	.captcha { margin-bottom: 25px; }
	#pop-up	.captcha .tip { margin-bottom: 8px; }
	#pop-up	.captcha input.text { width: 140px; float: left; }
	#pop-up	.captcha .code { float: right; margin-left: 6px; height: 24px; width: 80px;  }
	#pop-up	.captcha .update { 
		float: right; 
		width: 24px; 
		height: 24px; 
		cursor: pointer; 
		background: url(../images/sprite_icons.png) no-repeat 2px -869px;
	}

	#pop-up .remember { float: left; height: 26px; line-height: 26px; }

	/* заказ - моя корзина */
	#order_info { overflow: hidden; zoom: 1; }
	#order_info li { 
		line-height: 1.3; 
		background: #f0f0f0; 
		color: #484848; 
		float: left; 
		width: 203px; 
		padding: 13px 13px 500px 13px; 
		margin: 0 6px -487px 0; 
		text-align: center;
	}
	#order_info li.last { margin-right: 0px; }
	#order_info li span { display: inline-block; font-size: 16px; padding-left: 30px; }
	#order_info li div { text-align: left; padding-top: 13px;  }
	#order_info li.shipping span { background: url(../images/sprite_icons.png) no-repeat 0px -928px; }
	#order_info li.shipping_cost span { background: url(../images/sprite_icons.png) no-repeat 0px -900px; }
	#order_info li.discounts span { background: url(../images/sprite_icons.png) no-repeat 0px -960px; }


	#order_steps { float: left; margin-bottom: 15px; font-size: 12px; font-style: italic; text-transform: uppercase; }
	#order_steps .line { border-bottom: 2px solid #7f7f7f; margin-top: 12px; }
	#order_steps li { float: left; margin-right: 30px; }
	#order_steps li a { 
		display: block; 
		float:left; /*ie 6 fix */
		height: 25px; 
		line-height: 25px; 
		color: #7f7f7f; 
		padding: 0 5px 0 30px; 
		text-decoration: none; 
	}
	#order_steps li.active a { color: #c33c00; font-size: 20px; font-style: normal; text-transform: none; }
	#order_steps li.payment { margin-right: 0; }
	#order_steps li.payment a { background: #fff url(../images/sprite_icons.png) no-repeat 4px -993px;  }
	#order_steps li.payment.active a { background: #fff url(../images/sprite_icons.png) no-repeat 4px -1061px; }
	#order_steps li.forming a { background: #fff url(../images/sprite_icons.png) no-repeat 2px -898px; }
	#order_steps li.forming.active a { background: #fff url(../images/sprite_icons.png) no-repeat 4px -1028px; }
	#order_steps li.cart a { background: #fff url(../images/sprite_icons.png) no-repeat 2px -1132px; }
	#order_steps li.cart.active a { background: #fff url(../images/sprite_icons.png) no-repeat 2px -1098px; }
	

	#order_table { padding-top: 10px; margin-bottom: 20px; position: relative; }
	#order_table .truncate { position: absolute; right: 15px; top: -15px; color: #7d7d7d; }
	#order_table #cart_thinking{ position: absolute; right: 130px; top: -15px; }
	#order_table .header { 
		height: 30px;
		line-height: 30px; 
		background: #efefef url(../images/sprite_hor_bgs.png) repeat-x 0px -286px;
		border: 1px solid #f0efed; 
		border-radius: 2px;
		box-shadow: 0 1px 3px #cbcbcb;
	}
	#order_table .header li { float: left; position: relative; padding-left: 15px;  }
	#order_table .header li span { position: absolute; right: 0%; top: 9px; height: 14px; width: 0px; border-right: 1px solid #fff;
		border-left: 1px solid #d1d0ce;
	}

	#order_table .name_col { width: 140px; }
	#order_table .count_col { width: 295px; }
	#order_table .price_col { width: 95px; }

	#order_table .name_col div { text-align: center; color: #c33c00; font-size: 16px; margin: 0 0 10px -15px; }
	#order_table .name_col img { margin-left: -15px; }

	#order_table .good { height: 240px; border-bottom: 1px solid #f2f2f2; }
	#order_table .good.no_border { border: none; }
	#order_table .good li { float: left; padding: 15px 0 15px 15px; height: 210px; background: url(../images/carousel_delimiter.jpg) no-repeat 100% 50%; }
	#order_table .good li.last { background: none; }

	#order_table .table { position: relative; }
	#order_table .table table { position: absolute; top: 15px; left: 15px; width: 530px; }
	#order_table .table td { padding-bottom: 15px; font-size: 14px; line-height: 24px; }
	#order_table .table .counter { width: 280px; }
	#order_table .table .price { width: 95px; }
	#order_table .table .total_sum { width: 95px; }
	#order_table .table .marked { color: #c33c00; }
	#order_table .table .marked span.trash { float: right; margin: 4px 10px 0 0; zoom: 1; width: 15px; height: 15px; cursor: pointer;
		background: #fff url(../images/sprite_icons.png) no-repeat 0px -1174px;	
	}
	#order_table .table .marked img { float: right; margin: 4px 10px 0 0; }

	#order_table .more_less { float: left; height: 22px; width: 45px; border: 1px solid #b6afa7; margin-right: 10px; position: relative; }
	#order_table .more_less input { float: left; width: 40px; height: 13px; background: none; padding: 4px 0 0 5px; 
		border: none; border-top: 1px solid #efeeec; border-left: 1px solid #fafaf9;
		*padding-top: 3px;
	}
	#order_table .more_less .more, #order_table .more_less .less { position: absolute; right: 0px; width: 11px; height: 11px; cursor: pointer; }
	#order_table .more_less .more { top: 0px; background: #efefef url(../images/sprite_icons.png) no-repeat 0px -731px; }
	#order_table .more_less .less { bottom: 0px; background: #efefef url(../images/sprite_icons.png) no-repeat 0px -742px; }
	#order_table .more_less .disable { position: absolute; width: 36px; height: 23px; top: 0px; left: 0px; }

	#order_table .sum { display: inline-block; font-size: 18px; min-width: 60px; padding-left: 10px; color: #c33c00; text-align: left; }
	#order_table .cy { color: #878787; }
	#order_table .total_no_discount { background: #f0f0f0; padding: 6px 12px; overflow: hidden; zoom: 1; }
	#order_table .total_no_discount .sum { color: #d17f5a; }
	#order_table .total_no_discount a { color: #3f3f3f; margin-left: 7px; }
	#order_table .total_no_discount input { color: #7d7d7d; border: 1px solid #7d7d7d; padding: 2px 10px; width: 70px; margin-left: 7px; }
	#order_table .total_no_discount .text { display: inline-block; height: 22px; line-height: 20px; }
	#order_table .total { padding: 7px 12px; text-align: right; }


	#order_button { 
		float: right; 
		height: 36px; 
		line-height: 36px; 
		text-decoration: none;
		color: #fff;
		text-align: center;
		padding: 0 20px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		background: #8ec403 url(../images/sprite_hor_bgs.png) repeat-x 0px -355px;
		border: 1px solid #709931;
		font-size: 18px;
		border-radius: 5px;
		margin-left: 10px;

	}
	
	/* заказ - оформление */
	.nice_checkbox { float: left; width: 30px; position: relative; }
	.nice_checkbox span { position: absolute; top: -3px; left: 0px; width: 16px; height: 17px; 
		background: url(../images/sprite_icons.png) no-repeat 0px -1307px;	
	}
	.nice_checkbox span:hover { background: url(../images/sprite_icons.png) no-repeat 0px -1241px; }
	.nice_checkbox span.checked { background: url(../images/sprite_icons.png) no-repeat 0px -1275px; }
	.nice_checkbox span.checked:hover { background: url(../images/sprite_icons.png) no-repeat 0px -1209px; }
	.nice_checkbox input { position: absolute; top: -3px; left: 0px; *top: -7px;  *left: -4px; /*ie 6,7 fix*/ } 

	.post_method { height: 20px; padding: 7px 7px 0 7px; margin: 0 0 15px 30px; background: #f0f0f0; }
	.post_method a { float: right; color: #797979; }
	.post_method .nice_checkbox { margin-left: -37px; display: inline; /*ie 6 fix*/ } 
	
	/* обратная связь, заказ - оформление */
	.form_common ul { width: 490px; color: #686868; }
	.form_common li { margin-bottom: 20px; overflow: hidden; zoom: 1; }
	.form_common input.text, .form_common textarea, .form_common select { float: right; border: 1px solid #7f7f7f; background: #f0f0f0; width: 310px; }
	.form_common input.text, .form_common textarea { padding: 3px 5px; }
	.form_common select { height: 25px; width: 322px; padding-left: 5px; }
	.form_common textarea { resize: vertical; height: 140px; overflow: auto; }
	/*.form_common input.button { float: right; } может быть и нужно. рискнул удалять */ 
	.form_common label { float: left; width: 160px; line-height: 24px; }
	.form_common ul .mistaken { border: 1px solid #c33c00; color: #c33c00; }
	.form_common .report { float: left; color: #c33c00; font-size: 12px; line-height: 1.3; width: 290px; }
	.form_common .report_top { color: #c33c00; font-size: 12px; line-height: 1.2; }
	.form_common .title { font-size: 16px; color: #383838; margin-bottom: 20px; }
	.form_common .captcha_image { float: right; margin-left: 10px; }
	.form_common .captcha_text { float: right; border: 1px solid #7f7f7f; background: #f0f0f0; padding: 3px 5px; width: 186px; }
	.form_common .captcha_update { float: right; margin-left: 10px; width: 24px; height: 24px; cursor: pointer; 
		background: url(../images/sprite_icons.png) no-repeat 2px -869px; }
	.form_common .button { 
		float: right; 
		height: 30px; 
		line-height: 30px; 
		color: #fff;
		text-align: center;
		padding: 0 20px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		background: #8ec403 url(../images/sprite_hor_bgs.png) repeat-x 0px -360px;
		border: 1px solid #709931;
		font-size: 14px;
		border-radius: 5px;
		text-decoration: none;
		cursor: pointer;
	}

	.form_common .delivery_new { padding: 7px 30px; margin-left: -30px; margin-bottom: 10px; }
	.form_common .delivery_item { margin-bottom: 10px; background: #F0F0F0; padding: 7px 30px; margin-left: -30px; }
	.form_common .delivery_item label, .form_common .delivery_new label { width: auto; float: none; line-height: 1.2; margin-left: 7px;  }


	#enterform ul, #forgetform ul { margin-top: 30px; }
	#enterform .forget { line-height: 30px; display: inline-block; }
	#feedback { border-top: 1px solid #c2c2c2; padding-top: 25px;  }

	
	.order_margin_both { padding: 0 30px; }
	.order_margin_left { padding-left: 30px; } 

	#order_back { font-size: 14px; color: #afafaf; }
	#order_forming { border-top: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; padding: 25px 0 25px 30px; margin-bottom: 20px; }
	#order_forming ul { width: 460px; }
	#order_forming label { width: 130px; } 


	/* заказ оплата */
	#pageid-payment .order_margin_both { padding: 0 12px; }
	#pageid-payment .order_margin_left { padding-left: 12px; }
	#order_payment { border-bottom: 1px solid #c2c2c2; margin-bottom: 20px; }
	#order_payment .cost_of_smth { background: #eeeeee; padding: 7px 12px 0 12px; height: 20px; margin-bottom: 8px; }
	#order_payment .total { background: #faf5e7; padding: 7px 12px 0 12px; height: 20px; margin-bottom: 15px; }
	#order_payment .total .fr { color: #c33c00; } 

	#pay_methods li { margin-bottom: 20px; }
	#pay_methods .nice_checkbox { top: 7px; }
	#pay_methods .method_name { margin-left: 30px; padding-left: 50px; height: 25px; line-height: 25px; }
	#pay_methods .method_name.russian_post { background: url(../images/sprite_icons.png) no-repeat 0px -1495px; }
	#pay_methods .method_name.yandex_money { background: url(../images/sprite_icons.png) no-repeat 8px -1456px; }
	#pay_methods .method_name.web_money { background: url(../images/sprite_icons.png) no-repeat 7px -1419px; }
	#pay_methods .method_name.qiwi { background: url(../images/sprite_icons.png) no-repeat 8px -1380px; }
	#pay_methods .method_name.alfa_click { background: url(../images/sprite_icons.png) no-repeat 10px -1339px; }
	

	/* полнотекстовый поиск */
	#search_results a { display: inline-block; margin-bottom: 10px; }



	/* общий постраничный навигатор */
	#general_page_nav a { margin-right: 7px; }
	#general_page_nav a.active { font-weight: bold; }



	/* мои скидки */
	.own_discount { font-size: 16px; color: #C33C00; }



	/* мои заказы */
	.my_order_table { margin: -35px 0 20px 0; width: 100%; color: #404040; font-size: 12px; }
	.my_order_table td { padding: 10px 0 10px 20px; } 
	.my_order_table .header td { font-weight: bold; color: #000; padding: 13px 0 11px 20px; position: relative; }
	.my_order_table .header span { position: absolute; right: -2px; top: 12px; height: 14px; border-right: 1px solid #fff; border-left: 1px solid #d1d0ce;  }
	.my_order_table .header_inner td { border-bottom: 1px solid #e3e3e3; }
	.my_order_table .item td { padding-bottom: 2px; }
	.my_order_table .item.last td { padding-bottom: 10px; }

	.my_order_table .border_r { border-right: 1px solid #d1d0ce; }

	.my_order_table .white_box { position: relative; }
	.my_order_table .white { position: absolute; width: 700px; height: 8px; left: 0px; background: #fff; }
	.my_order_table .white.top { top: 0px; }
	.my_order_table .white.bottom { bottom: 0px; }

	.my_order_table .total td { text-align: right; font-size: 16px; color: #888; padding-bottom: 0; border-top: 1px solid #e3e3e3; }
	.my_order_table .total_min td {font-size: 12px;border-top: none; }
	.my_order_table .total td span { color: #C33C00; }


	/* личный кабинет */
	#personal a { color: #676666; text-decoration: none; }
	#personal a:hover { text-decoration: underline; }

	.personal_menu { float: left; margin-bottom: 15px; }
	.personal_menu.change { border-right: 1px solid #e3e3e3; width: 340px; margin-right: 60px; }
	.personal_menu li { margin-bottom: 20px; padding-left: 28px; height: 22px; line-height: 22px; }
	

	.personal_menu .reg { background: url(../images/sprite_icons.png) no-repeat 2px -1766px; }
	.personal_menu .address { background: url(../images/sprite_icons.png) no-repeat 0px -1795px; }
	.personal_menu .password { background: url(../images/sprite_icons.png) no-repeat 2px -1736px; }

	.personal_menu .orders { background: url(../images/sprite_icons.png) no-repeat 2px -1825px; }
	.personal_menu .discounts { background: url(../images/sprite_icons.png) no-repeat 0px -109px; }
	.personal_menu .cart { background: url(../images/sprite_icons.png) no-repeat 0px -1856px; }

	.personal_delete { 
		display: inline-block; 
		clear: both; 
		padding-left: 28px; 
		background: url(../images/sprite_icons.png) no-repeat 5px -1887px; 
		position: relative;
	}
	.personal_delete .preloader { position: absolute; top: 0px; left: 210px; width: 130px;  }
	.personal_delete .preloader.bad { color: #C33C00; }
	.personal_delete .preloader.good { color: #52B004; }

	.delivery_delete { margin-bottom: 10px; }
	.delivery_delete a { 
		float: left;
		width: 14px; 
		height: 14px; 
		background: url(../images/sprite_icons.png) no-repeat 0px -1887px; 
		margin-right: 10px; 
	}



.zoomy{
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 5px 10px #000;
    -moz-box-shadow: 0px 5px 10px #000;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#3333333', Positive='true');
    border: 1px solid #999;
    line-height: 100px;
    text-align: center;
    background-image: url(loading.gif);
    background-position: center;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
    cursor: move;
}

.zoomy span{
    display: block;
    margin: 5px auto;
    background: -moz-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.6)), color-stop(100%,rgba(255,255,255,0))); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
}

.zoomBar{
    font-family: arial, helvetica;
    color: #fff;
    text-decoration: none;
    outline: none;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #999 #666 #333 #666;
    padding: 5px 10px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    opacity: .8;
    filter:alpha(opacity=80);
    text-shadow: 0 1px 1px #000;
    background: #3e4549; /* Old browsers */
}

.zoomBar span{
    font-weight: bolder;
    color: #ccc;
}

.zoomy a{
    color: #333;
    text-decoration: none;
}

.cursorHide{
    cursor: url(blank.gif), move;
}

.broke a{
    display: block;
    height: 100%;
    width: 100%;
    
}

#brokeZoomy{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #fff url(broke.gif) center no-repeat;
}



a.zoomy-enabled img{
    position: absolute;
    outline: none;
    text-decoration: none;
    border: 0;
}

a.zoomy-enabled.inactive img{
    opacity: 0.9;
    filter:alpha(opacity=90);
}

.zoomy-enabled br{
    display: none;
}

.zoomy #tmp{
    max-width: none;
    max-height: none;
    top: -999999px;
    left: -999999px;
}
